/*  your css code here. If applicable */
body {
  font-family: Arial, sans-serif;
  background-size: cover;
  margin: 0;
  padding: 2rem;
}

ul#bands {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  list-style-type: square;
}

ul#bands li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

ul#bands li:last-child {
  border-bottom: none;
}